html{
    background-color: #ffd9e8;
}
#main-nav {
    width: 100%;
    background-color: #fac0d7;
}
#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;                  
    justify-content: space-around;  
    align-items: center;           
}
#main-nav ul li {
    flex: 1;                        
    text-align: center;     
    font-size: 1em;      
}
#main-nav ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    color: #ff009d;
}
#main-nav ul li a:hover {
    background-color: #ff9dda;
    color: #ff009d;
}
#wrapper {
    width:850px;
    height: 600px;
    background-color:rgb(235, 102, 240);
    margin:0 auto;
    overflow: hidden;
}
#canvas {
    width: 700px;
    height: 500px;
    background-color: rgb(235, 34, 241);
}
#questionButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#wrapper {
    max-width: 850px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    background-color: rgb(235, 102, 240);
    padding: 20px;
}
#map {
    width: 700px;
    height: 500px; 
    margin: 0 auto; 
}